@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// COLORS
$bg-color: #000;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $bg-color;
  font-family: 'Montserrat', sans-serif;
}
